//start header//////////////////////////////////////////////////////////////////////////////////////
header {
  width: 100%;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  line-height: 24px;
  position: fixed;
  top: 0;
  z-index: 888;
  border: 1px solid rgba(0, 0, 0, 0);
  border-top: unset;
  border-left: unset;
  border-right: unset;
  transition: 1s;
  // background: #fff;

  &:hover {
    border-color: rgba(252, 172, 69, 0.1);
    transition: 2s;
  }

  // background-color: rgb(34, 34, 34)
  // border-color: rgba(231, 231, 231, 0);

  @media #{$tablet} {
    background: rgba(0, 0, 0, .5);
  }

  @media #{$mobile-big} {
    background: rgba(0, 0, 0, .5);
  }

  @media #{$mobile-small} {
    background: rgba(0, 0, 0, .5);
  }


  .layout {
    @extend .cf;
    padding: 0 15px;

    @media #{$tablet} {
      padding: 0;
    }

    @media #{$mobile-big} {
      padding: 0;
    }

    @media #{$mobile-small} {
      padding: 0;
    }


    .logo,
    nav {
      text-transform: uppercase;
      padding-top: 58px;
      padding-right: 5px;
      transition: .7s;

      @media #{$tablet} {
        padding-top: 33px;
      }

      @media #{$mobile-big} {
        padding-top: 33px;
      }

      @media #{$mobile-small} {
        padding-top: 33px;
      }
    }

    nav {
      width: calc(100%/12*6);
      margin-left: auto;

      @media #{$tablet} {
        padding-top: 12px;
        padding-bottom: 10px;
        position: relative;
      }

      @media #{$mobile-big} {
        padding-top: 12px;
        padding-bottom: 10px;
        position: relative;
      }

      @media #{$mobile-small} {
        padding-top: 12px;
        padding-bottom: 10px;
        width: calc(100%/12*8);
        position: relative;
      }

      div#click_show_menu {
        position: relative;
        display: none;
        width: 55px;
        height: 55px;
        margin-left: auto;
        cursor: pointer;

        @media #{$tablet} {
          display: block;
        }

        @media #{$mobile-big} {
          display: block;
        }

        @media #{$mobile-small} {
          display: block;
        }

        span {
          top: 50%;
          right: 0;
          height: 7px;
          width: 55px;
          position: absolute;
          border-radius: 50px;
          background-color: rgb(61, 61, 61);
          transform: rotate(0deg);
          transition: all ease 0.5s;

          &::before,
          &::after {
            content: "";
            position: absolute;
            height: inherit;
            border-radius: inherit;
            background-color: inherit;
            margin: auto;
            width: 50%;
            transition: all ease 0.5s;
          }

          &::after {
            bottom: -20px;
            right: 0;
            transform-origin: right;
          }

          &::before {
            top: -20px;
            left: 0;
            transform-origin: left;
          }

          &.active {
            transform: rotate(135deg);

            &::before {
              top: 0;
              transform: translateX(100%) rotate(-90deg);
            }

            &::after {
              bottom: 0;
              transform: translateX(-100%) rotate(-90deg);
            }
          }
        }
      }

      ul {
        width: 100%;
        transition: 1s;
        display: flex;
        justify-content: flex-end;

        &.active {
          right: 0;
          opacity: 1;
          transition: 1s;
        }

        @media #{$tablet} {
          position: absolute;
          top: 100%;
          background: rgba(0, 0, 0, .5);
          right: -150%;
          opacity: 0;
          flex-direction: column;
          justify-content: space-around;
          height: calc(100vh - 78px);
          padding-right: 10px;
        }

        @media #{$mobile-big} {
          position: absolute;
          top: 100%;
          background: rgba(0, 0, 0, .5);
          right: -150%;
          opacity: 0;
          flex-direction: column;
          justify-content: space-evenly;
          height: calc(100vh - 78px);
          padding-right: 10px;
        }

        @media #{$mobile-small} {
          position: absolute;
          top: 100%;
          background: rgba(0, 0, 0, .5);
          right: -150%;
          opacity: 0;
          flex-direction: column;
          justify-content: space-evenly;
          height: calc(100vh - 78px);
          padding-right: 10px;
        }

        li {
          margin-left: 28px;
          font-size: 14px;
          position: relative;
          padding-bottom: 20px;
          text-align: center;


          &:first-child {
            margin-left: 0;
          }

          @media #{$tablet} {
            width: 100%;
            display: block;
            text-align: right;
            margin-left: 0;
          }

          @media #{$mobile-big} {
            width: 100%;
            display: block;
            text-align: right;
            margin-left: 0;
          }

          @media #{$mobile-small} {
            width: 100%;
            display: block;
            text-align: right;
          }

          &::before,
          &::after {
            content: '';
            width: 70%;
            height: 3px;
            position: absolute;
            bottom: 0;
            transition: .51s;
            background-color: transparent;
          }

          &::before {
            // background-color: rgba(255, 255, 255, 0.102);
            left: 0;
            // transition: .51s;
          }

          &::after {
            // background-color: rgba(255, 255, 255, 0.102);
            right: 0;
            // transition: .51s;
          }

          // &::before {
          //   background-color: rgba(255, 255, 255, 0.102);
          //   left: -10px;
          //   transition: .51s;
          // }

          &.hover,
          &.active {

            &::before {
              background-color: $yellow;
              right: 50%;
              left: unset;
              transition: 1s;
              transform: translateX(100%);
            }

            &::after {
              background-color: rgba(255, 255, 255, 0.102);
              left: 50%;
              right: unset;
              transition: 1s;
              transform: translateX(-100%);
            }
          }

          a {
            font-family: Lato;
            font-size: 14px;
            font-weight: 700;
            line-height: 24px;

            // color: transparent;
            // text-shadow: 0 0 1px #000;
            color: $white;

            &:hover {
              // color: rgba(0, 0, 0, 0.28);
              text-shadow: 0px 0px 10px #fff;
            }
          }
        }
      }
    }

    .logo {

      width: calc(100%/12*6);
      font-size: 24px;
      padding-bottom: 20px;
      float: left;


      @media #{$tablet} {
        padding-left: 10px;
      }

      @media #{$mobile-big} {
        padding-left: 10px;
      }

      @media #{$mobile-small} {
        width: calc(100%/12*4);
        padding-left: 10px;
      }

      a {
        color: $white;
        font-family: Lato;
        // color: transparent;
        // text-shadow: 0 0 1px #000;
      }
    }
  }

  // @media #{$tablet} {}

  // @media #{$desktop-infinite} {}

  // @media #{$mobile-big} {}

  // @media #{$mobile-small} {
  //   @include cf;

  //   &:hover {}
  // }
  // @import "partials/components/_nav_menu_header.scss";


  // @import "components/_nav_menu_header.scss";
}

//end header//////////////////////////////////////////////////////////////////////////////////////